.añadir {
  background: #e5e5e5;
  width: 100%;
  height: 680px;
  display: flex;
}

.añadir__container {
  width: 85%;
  height: 100%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.añadir__container__formulario {
  width: 559px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.añadir__container__formulario-titulo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #464646;
  margin-bottom: 10px;
}

.añadir__container__formulario-label {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

#file {
  font-family: Raleway;
  margin-bottom: 10px;
}

::-webkit-file-upload-button {
  background: #2a7ae4;
  height: 40px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid silver;
  color: white;
}

.img__preview {
  width: 176px;
  height: 174px;
  margin-left: 15px;
  margin-top: 15px;
}

.añadir__container__formulario-select {
  width: 556px;
  height: 45px;
  background: #ffffff;
  border-radius: 4px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.añadir__container__formulario-select:hover {
  border-color: #2a7ae4;
}

.añadir__container__formulario-input {
  width: 550px;
  height: 40px;
  background: #ffffff;
  border-radius: 4px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #a2a2a2;
  border: 1px solid silver;
  outline: none;
}

.input-container--invalid .añadir__container__formulario-input {
  border: 1px solid red;
  background: #f4b9b9;
}

#input2 {
  height: 70px;
}

.añadir__container__formulario-btn {
  background: #2a7ae4;
  width: 100%;
  height: 50px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid silver;
  color: white;
}

@media screen and (max-width: 425px) {
  .añadir__container__formulario {
    width: 98%;
    display: block;
  }

  .añadir__container__formulario-select {
    width: 100%;
  }

  .añadir__container__formulario-input {
    width: 100%;
  }

  #input2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
